/* Paleta de cores */
:root {
    --orangeMain: #F9813D;
    --branco: #fff;
    --preto: #090909;
    --turquoiseMain: #09A9A9;
    --turquoiseLight: #83DDDD;
    --backgroundMain: #fcfcfc;
    --backgroundName: #F1F1F1;

}
/* Diga não ao CSS inline */
.RescuerPerfil .justify { justify-content: space-between; }

/* 
Rescue1
*/
.RescuerPerfil .flex { display: flex; } 

.RescuerPerfil .container{
    padding: 20px;
    margin: 0px 20px 60px;
    height: 930px;
}
.RescuerPerfil .component {
    margin: 20px 0px 0px 0px;
    margin: 0px 20px;
}
.RescuerPerfil .component, 
.RescuerPerfil .mainHeader {
    border: 1px solid var(--turquoiseLight);
    border-radius: 10px;
}

.RescuerPerfil .mainHeader { /*- Banner -*/
    height: 180px;
    margin-bottom: 35px;
    background-size: 100%;
    background-position: center;
    border-bottom-left-radius: 35px;
}

.RescuerPerfil .column{ margin-top: 30px; }

/* 
Component Header
*/
.RescuerPerfil .headerContainer p, 
.RescuerPerfil .headerContainer img, 
.RescuerPerfil .headerContainer button {
    margin: auto 10px;
}

.RescuerPerfil .headerContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.RescuerPerfil .headerContainer section{
    grid-row-start: 1;
    grid-column-start: 1;
}

.RescuerPerfil .headerPhoto {
    margin: 230px 0px 0px 20px;
}

.RescuerPerfil .headerPhoto img {
    width: 94px;
    border: 3px solid var(--orangeMain);
    position: relative;
    border-radius: 50%;
}

.RescuerPerfil .headerName {
    margin: 250px -1px 0px 110px;
    padding: 5px 10px ;
    background: var(--backgroundName);
}

.RescuerPerfil .headerName p {
    font-size: 20px;
}

.RescuerPerfil .headerDetails {
    margin-left: 60px;
    background: var(--backgroundMain);
    margin-right: -1px;
    padding-top: 4px;
}


#StarICon{
    color:var(--orangeMain)
}
.RescuerPerfil .headerDetails p{
    padding-left: 60px;

}
.RescuerPerfil .interactButton:hover{
    color: var(--orangeMain);
    border-color: var(--turquoiseMain);
    cursor: pointer;
}

.RescuerPerfil .headerDetails button, 
.RescuerPerfil .profileBBorder{
    border: 1px solid black;
    padding: 4px 3px 2px 3px;
    border-radius: 8px;
    margin: auto;
}
.RescuerPerfil .profileBBorder p{
    padding: 4px 0px 7px;

}
.RescuerPerfil .headerDetails button {
    padding: 8px 18px 8px 18px;
    background: none;
    font-size: 17px;
}

.RescuerPerfil .borderIcon{
    padding-right: 40px;
}
.RescuerPerfil .borderIcon div,
.RescuerPerfil .borderIcon button{
    margin-left: 10px;
    margin-right: 10px;
}

/* 
Component Reputation
*/
.RescuerPerfil .reputationContainer {
    padding: 0px 20px;
}
.RescuerPerfil .reputationContainer div {
    margin: 20px auto;
}
.RescuerPerfil .reputationContainer span {
    margin: 0 2px;
    font-size: 24px;
}

.RescuerPerfil .reputationContainer div .interactButton,
.RescuerPerfil .reputationContainer .reputationCenter{
    width: fit-content;
    margin: 0px auto;
}

/* 
Component Body
*/
.RescuerPerfil .bodyContainer {
    display: grid;
    grid-template-columns: 60% 40%;
}

.RescuerPerfil .bodyContainer span {
    margin: 4px 0px;
    font-weight: 550;
    white-space: nowrap;
}
.RescuerPerfil .bodyContainer .bodyLeft section {
    margin: 20px 0px 20px 24px;
    word-wrap: none;
    min-height: 56px;
}
.RescuerPerfil .bodyContainer section span,
.RescuerPerfil .bodyContainer p {
    margin: 4px 0px;
}


.RescuerPerfil .bodyIcons{
    margin: 0px 5px;
}

.RescuerPerfil .bodyRight section{
    margin-top:30px;
}

/*
Button Donate
*/
.RescuerPerfil .buttonDonate {
    margin: auto  40px auto 0px;
    padding: 1px;
    background: linear-gradient(to right, var(--turquoiseLight), var(--orangeMain));
    white-space: nowrap;
    height: 58px;
}

.RescuerPerfil .buttonDonate:hover {
    cursor: pointer;
    padding: 2px;
    color:var(--orangeMain);
    background: var(--orangeMain);
}
.RescuerPerfil .buttonDonate:hover div p {
    color:var(--orangeMain)
}

.RescuerPerfil .buttonDonate, 
.RescuerPerfil .buttonDonate div {
    border-radius: 10px;
}

.RescuerPerfil .buttonDonate div .Iicon {
    color: var(--orangeMain);
    margin: auto;
}

.RescuerPerfil .buttonDonate div {
    padding: 9.5px;
    background: var(--backgroundMain);
}

.RescuerPerfil .buttonDonate div p {
    color: var(--turquoiseMain);
    margin: 0 auto;
}

/*
Button Achievements
*/
.RescuerPerfil .achievements div {
    margin: 3px 6px;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 9px;
}

.RescuerPerfil .achievements div p {
    margin: 3px;
}

/*
Button Social Media
*/
.RescuerPerfil .bodyContainer section + .lLeft{
    margin: 10px 0px 10px 0px;
    word-wrap: none;
    min-height: 56px;
}



.RescuerPerfil .socialmedia {
    margin: auto 3px;
}

.RescuerPerfil .socialmedia:hover {
    color: var(--orangeMain);
    padding: 0.5px;
    transition: 250ms;
    cursor: pointer;
}
/*
Achievements border
*/
.RescuerPerfil .achievementBorder {
    margin: 3px 0px;
    border: 1px solid var(--turquoiseMain);
    padding:  0px 170px 0px 0px;
    display: flex;
    z-index: 2;
    max-width: 190px;
    border-radius: 20px;
}

.badgeBox{
    width: 220px;
    color: rgba(255, 255, 255, 0.247);
    background: rgba(255, 255, 255, 0.247);
    position: absolute;
    height: 100px;
    margin: 25px 0px;
    z-index: 3;
    cursor: pointer;
}

.badgeBox span{
    top: -0px;
	left: 8%;
	border: 0.906em solid transparent;
    position: absolute;
    border-left: 0;
	border-top-color:rgba(255, 255, 255, 0);
}

.badgeBox:hover div{
    visibility: visible;
    margin: -75px 0px 0px -20px;
    background:var(--turquoiseLight);
    padding: 10px;
    z-index: 3;
    color:black;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
}

.badgeBox:hover span{
    top: -17px;
	left: 8%;
	border: 0.906em solid transparent;
    position: absolute;
    border-left: 0;
    transition: 0.5s;
	border-top-color:var(--turquoiseLight);
    cursor: pointer;

}

.RescuerPerfil .achievementBorder div {
    margin: 0px 10px 0px 0px;
    padding: 2px 3px 2px 3px;
    
}

.RescuerPerfil .reachievementsBlue {
    width: 144px;
    height: 32px;
    margin: 3px 0px;
    position: absolute;
    border: 3px solid rgba(0, 0, 0, 0);
    background: var(--turquoiseLight);
    border-radius: 20px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    overflow: hidden;
}

/*
Favorites
*/
.RescuerPerfil .title{
    font-weight: 550;
}

.RescuerPerfil .favContainer, 
.RescuerPerfil .galleryContainer{
    padding: 20px;
}
.RescuerPerfil .favContainer p, 
.RescuerPerfil .favContainer span{
    white-space: nowrap;
}

.RescuerPerfil .favContainer img{
    border-radius: 50%;
    width: 60px;
    margin: 0px 10px;
}

.RescuerPerfil .favContainer .flex div p{
    text-align: center;
    margin-right: 5px;
}

.RescuerPerfil .favTitle{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}

.RescuerPerfil .favTitle span{
    margin: 0px;
    float: right;
}

.RescuerPerfil .favProfile{
    padding: 6px 0px;
}

.RescuerPerfil .favProfile:hover{
    width: fit-content;
    margin: -1px 0;
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px rgb(170, 170, 170);
}

/*
Gallery
*/
.RescuerPerfil .galleryContainer{
    height: 262px;
}


.RescuerPerfil .galleryContainer .img1 img{
    width: 220px;
    height: 180px;
    border-radius: 10px;
}

.RescuerPerfil .galleryContainer .img2 img{
    margin: 20px 0px 20px 20px;
    width: 170px;
    border-radius: 10px;
}




.galleryContainer img:hover{
    box-shadow: 0px 0px 40px -10px rgb(170, 170, 170);
    border-radius: 20px;
    cursor: pointer;
    margin: -2px 0px;
}

.galleryContainer .img2:hover{
    margin: -2px 0px;
}


/*
Gallery
*/

.RescuerPerfil .lLeft{
    margin: 0px auto;    
}

/*DATABASE CSS---------------------------------------------------------*/

.RescuerPerfil .bodyContainer .titleMargin,
.RescuerPerfil .informations{
    padding-bottom: 5px;
}

/*
Gallery
*/

.RescuerPerfil .favContainer .flex div p {
    font-size: 14px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.RescuerPerfil .achievementBorder .flex{
    border-radius: 50px;
    background: hsl(194, 100%, 78%);
    width: fit-content;
} 

.RescuerPerfil .bodyContainer .description{
    padding-right: 25px;
}

.RescuerPerfil .badges:hover{
    color: var(--orangeMain);
    cursor: pointer;
    font-weight: 550;
}

.RescuerPerfil .id1_banner, .RescuerPerfil .id2_banner,
.RescuerPerfil .id3_banner, .RescuerPerfil .id4_banner,
.RescuerPerfil .id5_banner, .RescuerPerfil .id6_banner,
.RescuerPerfil .id7_banner, .RescuerPerfil .id8_banner,
.RescuerPerfil .id9_banner, .RescuerPerfil .id10_banner, 
.RescuerPerfil .id11_banner{ padding-bottom: 300px ;}

.RescuerPerfil .id1_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1039361184907939850/Rectangle_188_1.png");}
.RescuerPerfil .id2_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261103594639420/b1.png");}
.RescuerPerfil .id3_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261103909216337/b2.jpg");}
.RescuerPerfil .id4_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261122687111238/b7.jpg");}
.RescuerPerfil .id5_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104412528650/b4.jpg");}
.RescuerPerfil .id6_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104618053662/b5.jpg");}
.RescuerPerfil .id7_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104790011974/b6.jpg");}
.RescuerPerfil .id8_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261123295289344/b9.png");}
.RescuerPerfil .id9_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261123752476733/b11.jpg");}
.RescuerPerfil .id10_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104156672010/b3.jpg");}
.RescuerPerfil .id11_banner { background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261122896838666/b8.png");}


