
header {

    width: 100%;
    height: 85px;
    background-color: #F9813D;
}

header .interface {
    /* border: 2px solid blue; */
    height: 90px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 27px;
}

header .interface a {
    
    font-size: 22px;
    color: #ffff;
    text-decoration: none;
    padding-left: 68px;
    transition: 0.7;
}

header .interface a:hover {
    color: #330023; 
    text-decoration: underline;
}

.imgMenu img {
    height: 70px;
    width: 140px;
    min-width: 145px;
    max-width: 170px;
    margin-left: 86px;
    margin-top: 7px;
    float: left;
}

.perfilLateral {
    margin-left: 11.5em;
    margin-bottom: 29px;
    width: 54px;
    height: 52px;
    background-color: #fff;
    border-radius: 35%;  
}