/*
Estilização uma tela pequena tipo MOBILE
*/
@media only screen and (min-width: 1px) {
    .viewMobile {
        position: relative;
        visibility: visible;
    }
    .viewLarge, .viewMedium{
        position: fixed;
        visibility: hidden;
    }
    .interface div { margin: 0; }
    .interface #Logo { margin-left: 66px; }
    .interface .moreOptions { margin-left: 58px; }
}

/*
Estilização em uma tela media tipo TABLET
*/
@media only screen and (min-width: 805px) {
    .viewMedium {
        position: relative;
        visibility: visible;
    }
    .viewLarge, .viewMobile{
        position: fixed;
        visibility: hidden;
    }
    .interface div { margin: 0 33px 0 33px; }
    .interface #Logo { margin-left: 33px; }
    .interface .moreOptions { margin-left: 20px; }
}

/*
Estilizaçã em uma tela grande tipo DESKTOP
*/
@media only screen and (min-width: 1315px) {
    .viewLarge {
        position: relative;
        visibility: visible;
    }
    .viewMedium, .viewMobile {
        position: fixed;
        visibility: hidden;
    }
    .interface div { margin: 0 auto; }
}

/*
Estilização do Menu
*/
header {
    height: 85px;
    background-color: #F9813D;
}

.interface {
    display: flex;
    padding-top: 7px;
    justify-content: space-between;
}

.interface div {
    display: flex;
    font-size: 20px;
}

/*
Proprieades da Logo
*/
.interface #Logo {
    width: 160px;
    height: 70px;
    margin-right: 40px;
}

/*
Botões de linkagem
*/
.interface a {
    text-decoration: none;
}



.interface #Login{
    margin-left: 25px;
}

/*
Botão Perfil
*/
.interface .perfilLateral {
    color: white;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 27px 0px;
    
}

/*
Botão Mais opções
*/
.interface .moreOptions {
    color: white;
    margin: 27px 33px 0px;
}

.interface  a {
    font-size: 22px;
    color: #ffff;
    text-decoration: none;
    margin: auto 30px;
    padding: 4px;
    transition: 0.2s;
    white-space: nowrap;
    padding: 0px;
    height: 32px;
    margin-bottom: 28px;
}

.interface a:hover {
    border-bottom: 3.2px solid #fff;
    transform: scale(1);
}