/* IDSobreNos criado para não da conflito nas outras páginas*/

body {
    background: var(----backgroundMain);
}

#SobreNos #h1Sobrenos {
    margin-top: 21px;
    color: var(--Laranja);
    text-align: center;
    font-size: 29px;
}

.scd {
    color: var(--turquesa);
}

/* Formatação do title da página */
#SobreNos .titleIcon {
    width: 100%;
    margin-bottom: 25px;
}

#SobreNos .titleIcon h2 {
    font-size: 28px;
    color: var(--Laranja);
}

/* Formatação ds icons da página */
#SobreNos .titleIcon img {
    width: 38px;
    min-width: 20px;
    padding-right: 10px;
    margin-left: 60px;
}


#SobreNos .conteudo {  
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-bottom: 28px;
 align-items: center;
}

/* Formatação dos paragrafos da página */
#SobreNos .conteudo p {  
 width: 28%;
 max-width: 27%;
 min-width: 20%;
 margin-left: 7.2em;
 font-size: 23px;
}

/* Formatação necessaria para essa imagem por ela ser diferente das outras */
#SobreNos #conteudoimg1 {
    width: 19%;
    min-width: 20%;
    height: 250px;
    min-height: 150px;
}

/* Formatação das imagens da página*/
#SobreNos .conteudo img {
    width: 14%;
    min-width: 16%;
    height: 250px;
    min-height: 160px;
    margin-right: 19.6em;
}

#SobreNos .titleIcon2 {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
}

#SobreNos .titleIcon2 h2 {
    font-size: 28px;
    margin-right: 18.8em;
    color: var(--Laranja);
    display: flex;
    align-items: center;
}

#SobreNos .titleIcon2 img {
    width: 38px;
    padding-right: 4px;
    
}

#SobreNos .conteudo1 { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
   }

   #SobreNos .conteudo1 p {  
    width: 430px;
    margin-right: 7.2em;
    font-size: 23px;
   }
   
   #SobreNos .conteudo1 img {
       width: 264px;
       height: 276px;
       margin-left: 19.6em;
   }

   #SobreNos #img2 {
    width: 345px;
   }

   /* Animação scroll */

 #SobreNos [data-anime] {
    opacity: 0;   
    transition: .3s; 
 }

 #SobreNos [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
 }

 #SobreNos [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
 }

 #SobreNos [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
 }