/* Id Agendar criado para não dar conflito nas outras páginas. */

/* Header da página e toda sua estilização*/
#Agendar #headerMain {
    background-image: url(Imagens/FundoAgendamento.png);
    background-size: cover;
    width: 100%;
    height: 261px;
}

/* Estilização do h1 da página*/
#Agendar #headerMain h1 {
    margin-top: 12px;
    text-align: center;
    color: var(--Laranja);
}

/* cor secundaria */
#Agendar .scd {
    color: var(--turquesa);
}

/* Espaçamento dos elementos do header*/
#Agendar #perfilHeader {
    display: flex;
    justify-content: space-around;
    margin-top: 2.8em;
    margin-right: 15.8em;
}

/* Elemento pai do nome e foto de perfil da empresa*/
#Agendar #UserPerfil {
 display: flex;
 align-items: center;
 gap: 13px;
}

/* Estilização da foto de perfil*/
#Agendar #UserPerfil img {
    width: 90px;
    height: 87px;
    border-radius: 100%;
    border: 2px solid var(--turquesa);
}

/* Estilização do nome da empresa*/
#Agendar #UserPerfil h3 {
    font-size: 21px;
    font-weight: 700;
    color: var(--Laranja);
}

/* Estilização da ilustração*/
#Agendar #ilustration img {
    width: 208px;
    height: 175px;
}


/* Fim do header da página */

/* Estilização do titulo do body */
#Agendar h2 {
    text-align: center;
    margin-top: 14px;
    color: var(--Laranja);
    font-size: 25px;
}

/* Elemento pai das opções de pet*/
#Agendar #sectionPetMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 28px;
}

/* titulos das opções*/
#Agendar #sectionPetMain h3 {
    text-align: center;
    font-size: 22.5px;
    color: var(--Laranja);
    margin-bottom: 6px;
}

/* Estilização das imagens*/
#Agendar #sectionPetMain img {
    display: flex;
    align-items: center;
    width: 240px;
    height: 210px;
    filter: brightness(75%);
    border-radius: 36px;
    transition: all 0.2s;
}

/* Efeito hover de cada imagem*/
#Agendar #sectionPetMain img:hover {
   filter: brightness(100%);
}

#Agendar #sectionPetMain div {
    height: 280px;
}

#Agendar #sectionPetMain #dog1 {
    margin-top: 7px;
}

/* Estilização do forms*/
#Agendar form #forms1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
}

/* Estilização da label do forms */
#Agendar form #forms1 label {
    color: var(--Laranja);
    font-size: 21px;
    font-weight: 700;
}

/* Ajustando posições */
#Agendar form #lb1 {
    margin-right: 14px;
}

#Agendar form #lb2 {
    margin-right: 78px;
}

/* Estilização do select */
#Agendar form #forms1 input, select {
    border: 1px solid var(--preto);
    border-radius: 6px;
    margin-left: 40px;
    width: 196px;
    height: 30px;
    padding: 4px;
    font-size: 15px;
    transition: 0.5s;
}

/* Espaçamento dos elementos*/
#Agendar form #FooterForms {
    display: flex;
    justify-content: space-between;
} 

/* Estilização do segundo forms type radio */
#Agendar form #FooterForms #forms2 {
    margin-left: 58px;
}

/* Estilização do label do froms2*/
#Agendar form #FooterForms #forms2 label {
    color: var(--Laranja);
    font-weight: 700;
    font-size: 19px;
}

/* Formatação da imagem */
#Agendar form #FooterForms #buttonforms img {
   height: 598px;
   width: 320x;
   z-index: 2;
}

/* Elemento pai */
#Agendar form #FooterForms #formsPai {
    display: flex;
    align-items: center;
    width: 40%;
} 

/* Formtação do button submit*/
#Agendar form #FooterForms #formsPai #submitAgendar button {
    background: var(--Laranja);
    border-radius: 12px;
    color: var(--backgroundMain);
    width: 120px;
    height: 55px;
    font-size: 19px;
    margin-top: 530px;
    margin-left: 79px;
    cursor: pointer;
    font-weight: 700;
}

/* ---------------------------------- overlayReturn------------- */

/* Estilização do overlay de confirmação de agendamento*/
#Agendar #AgendarOverlay {
    border: 1.8px solid var(--preto);
    margin: auto;
    width: 485px;
    height: 320px;
    background: var(--backgroundMain);
}

/* Estilização do overlay de confirmação de ag*/
#Agendar #AgendarOverlay .headerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#Agendar #AgendarOverlay .headerOverlay h2 {
    color: var(--Laranja);
    font-size: 32px;
}

#Agendar #AgendarOverlay .headerOverlay img {
    width: 46px;
    height: 45px;
    margin-left: 14px;
}

#Agendar #AgendarOverlay .overlayBody {
    margin-top: 23px;
    display: flex;
    justify-content: space-evenly;
}

#Agendar #AgendarOverlay .overlayBody img {
    width: 72px;
    height: 90px;
}

#Agendar #AgendarOverlay .overlayBody p {
  width: 210px;
  margin-top: 26px;
  font-size: 20px;
  font-weight: 700;
}

#Agendar #AgendarOverlay .buttonConfirm {
    display: flex;
    justify-content: flex-end;
}

#Agendar #AgendarOverlay .buttonConfirm button {
    background: var(--Laranja);
    color: var(--backgroundMain);
    width: 120px;
    height: 50px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 12px;
    margin-right: 28px;
    margin-top: 23px;
    cursor: pointer;
}

#Agendar #overlayS {
    z-index: 6;
    margin: auto;
}

#Agendar #AgendarOverlay .scd {
    color: var(--turquesa);
}

