/*Background padrão do site e id Home criado para n prejudicar as outras páginas*/
body {   
 background: var(--backgroundMain);
}


/*************************    Menu do carrosel    **************/
#Home .carroselHome {
background-image: url(Imagens/dogHome.jpg);
background-size: cover;
background-position: center 29%;
width: 100%;
height: 420px;
transition: 0.5s;
}

/* Menu do carrosel*/
#Home .menuHome {
    background: var(--backgroundMain);
    width: 27%;
    height: 300px;
    float: left;
    margin-top: 55px;
    margin-left: 36px;
}

/*Title das interações*/
#Home .tiltleMenu {
    color: var(--turquesa);
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 19px;
    cursor: pointer;
}

/* Formatação dos icons do menu interativo */
#Home .iconsMenu  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-right: 19px;
    padding-bottom: 10px;
    padding-top: 9px;
}

/* Titulo do menu interativo. */
#Home #titleICons {
    font-size: 36px;
    color: var(--Laranja);
    font-weight: 700;
    margin-left:23px;
    margin-top: 16px;
    padding-bottom: 5px;
}

/*  Mini titulo do menu carrosel*/
#Home .menuHome span {
    margin-left: 23px;
    font-size: 16px;
    font-weight: 700px;
    color: var(--turquesa);
}

/*  butão cadastra do mini menu carrosel*/
#Home #buttonMenuHome {
 width: 50%;
 height: 45px;
 border-radius: 25px;
 border: none;
 cursor: pointer;
 background-color: var(--Laranja);
 color: var(--branco);
 font-size: 24px;
 font-weight: 700;
 margin-left: 0.9em;
 margin-top: 24px;
}
/*************************   Fim Menu do carrosel    **************/

/*************************    corpo da página    **************/

#Home h2 {
    font-size: 32px;
    color: var(--Laranja);
    margin: 21px 0px 0px 17px;
}

/* Cor secundaria */
#Home .scd {
    color: var(--azulClaro);
}

/*  Formatação das imagens de resumo da página */
#Home .imgBody {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Home .imgBody  img{
    width: 19%;
    min-width: 14%;
    max-width: 20%;
    height: 180px;
    border-radius: 39px;
}

/*  Titulos do mini resumo da página */
#Home .titleParaquem { 
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

#Home .titleParaquem h3 {
font-size: 24px;
margin: 0px 29px 5px 0px;
color: var(--Laranja);
}

#Home .titleParaquem  p {
 font-size: 15px;
 width: 20%;
 margin-left: 29px;
 margin-bottom: 40px;
}


/*  formatação para o fundo da div*/
#Home #catBody {
    width: 100%;
    background-image: url(Imagens/CatBody.png);
    background-size: cover;
    background-position: center 60%;
    height: 400px;
    margin-bottom: 45px;
}

/*  Mini titulo do sobre nós*/
#Home .information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

#Home .information h2 {
    margin-right: 2.0em;
}

#Home .information img {
    width: 37px;
    height: 33px;
    margin-right: 6px;
}

#Home #vermaisTXT {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 27px;
}

#Home #vermaisTXT p {
    font-size: 14px;
    font-weight: 700;
    width: 265px;
    margin-left: 7.3em;
}

#Home #buttonVermais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2.8em;
} 

#Home #buttonVermais button{
  background-color: var(--azulClaro);
  width: 192px;
  height: 32px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  margin-left: 2.7em;
  cursor: pointer;
}

/*  Formatação do slogan da página */
#Home #Slogan {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 224px;
    margin-bottom: 20px;
}


#Home #Slogan img {
    width: 293px;
    height: 185px;
    margin-left: 11px;
}


/*  Botão de rolagem dinamica */
#Home #NavegarFooter button {
   background: var(--Laranja);
   color: var(--branco);
   width: 153px;
   height: 40px;
   border-radius: 24px;
   font-size: 21px;
   font-weight: 700;
   margin-left: 53px;
   margin-top: 33px;
   cursor: pointer;
 }

 /* Animação scroll */

 #Home [data-anime] {
    opacity: 0;   
    transition: .3s; 
 }

 #Home [data-anime="left"] {
    transform: translate3d(0, 0, -50px);
 }

 #Home [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
 }

 #Home [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
 }