
@media only screen and (min-width: 1px){
    #Footer .contact_large{display: none;}
    #Footer .contact_responsive{display: block;}
}

@media only screen and (min-width: 1180px){
    #Footer .contact_large{display: block;}
    #Footer .contact_responsive{display: none;}

}

#Footer{
    background: #F9813D;
}
#Footer .footer {
    margin: 0 auto;
    display: flex;
}
#Footer .footer_space {
    justify-content: space-between;

}
#Footer .footer div {
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}
#Footer .contact_responsive{
    margin-left: 247px;
}


#Footer .footer span, #Footer .footer p, #Footer .footer img{
    cursor: pointer;
} #Footer #PETLOGO{
    pointer-events: none;
}

#Footer .footer p {
    font-size: 19px;
    color: #e6e6e6;
    margin: 5px 0;
    white-space: nowrap 
} #Footer .footer span {
    margin: 0px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}
#Footer .footer p:hover {
    color: #ffffff;
} #Footer .footer span:hover {
    color: #e6e6e6;
}

#Footer .social_rede{
    width: 36px;
    margin: 10px 10% 0px 0px;
}
#Footer .social_rede:hover{
    transition: 0.2s;
    width: 40px;
}

#Footer .footer_copyright {
    margin-top:40px;
    padding: 10px;
    text-align: center;
    background: #FB752A;
} #Footer .footer_copyright p{
    color: rgb(255, 241, 214);
}

#Footer a {
    text-decoration: none;
}