/* ID Cadastrar criado para não da conflito com outras abas */
/*

    border: 1px solid #909090;
    border-radius: 10px;
    height: 30px;
    padding: 17px 15px;
    font-variant: bold;


    width: 334px;

-
*/
/* div pai responsavel pelo comportamento das outras div */
#REGISTER #cadastro strong {
    color: purple;
}
#REGISTER #Cadastrar #main {
    margin: 22px auto;
    width: fit-content;
    display: flex;
    /* border: 1px solid red; */
}

#REGISTER input {
    font-size: 14px;
}

#REGISTER label {
    font-size: 15px;
}

#REGISTER .flexa {
    display: flex;
}



/* Div cadastro ira ficar todo o conteudo do cadastro */
#REGISTER #Cadastrar #cadastro {
    width: 540px;
    min-height: 566px;
    border: 1px solid blue;
}






#REGISTER .img_logo {
    padding-right: 20px;
}




#REGISTER .aflex {
    display: flex;

}

/*
#REGISTER #Cadastrar #cadastro span {
    color: var(--turquesa);
    font-weight: bold;
}
#REGISTER #Cadastrar #cadastro h2 {
    color: var(--Laranja);
    font-weight: 700;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 20px;
}

/* Cor secundaria */

#REGISTER .colorTurquese {
    color: var(--turquesa);
}

#REGISTER form label {
    font-weight: bold;

}

/* 
------------------------------------------
*/

#REGISTER #cadastro h1 {
    color: var(--Laranja);
    margin: 29px 0px 3px;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}

#REGISTER #cadastro h3 {
    color: var(--turquesa);
    font-size: 16px;
    text-align: center;
}

#REGISTER #cadastro h4 {
    margin-top: 36px;
    font-size: 16px;
    text-align: center;
}

/* 
Form Tipo de Cadastro 
*/

#REGISTER #cadastro select {
    width: 173px;
    margin: 12px auto;
    cursor: pointer;
    border: 1px solid #909090;
    display: block;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 10px;
    height: 45px;
}

#REGISTER #cadastro h5 {
    font-size: 14px;
    margin-top: 32px;
    text-align: center;
}

/* 
Botao continuar
*/

#REGISTER .nextstep {
    width: 170px;
    margin: auto;
    height: 38px;
    cursor: pointer;
    display: block;
    font-size: 17px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(9, 169, 169, 0.7031) 40.04%, rgba(249, 129, 61, 0.6952) 59.96%);;
}

#REGISTER .nextstep p{
    width: 166px;
    margin: 0px auto;
    padding: 8px;
    border-radius: 8px;
    background-color: white;

}

#REGISTER .nextstep:hover {
    color: var(--Laranja);
    background: var(--Laranja);
}

/* 
Imagem na direita
*/

#REGISTER #Cadastrar .imageRight {
    width: 522px;
    height: 330px;
    margin: auto 0px;
}

#REGISTER #Cadastrar .imageRight img {
    height: 330px;
    margin: 0px auto;
    display: block;
}


/* 
--------------------------------------------------------------------
*/

/* 
Rede Social Buttons
*/

#REGISTER #redeSocial {
    gap: 11px;
    display: flex;
    margin-top: 19px;
    align-items: center;
    justify-content: center;
}

#REGISTER #redeSocial button {
    width: 110px;
    cursor: pointer;
    height: 40px;
    display: flex;
    padding: 7px;
    background: var(--backgoundMain);
    align-items: center;
    border-radius: 10px;
}

#REGISTER #redeSocial button p {
    width: 10px;
    margin-left: 8px;
}

#REGISTER #redeSocial #faceButton {
    color: #0033E7;
    border: 1px solid #0033E7;
}

#REGISTER #redeSocial #googleButton {
    color: #E70000;
    border-top: 1px solid #E70000;
    border-left: 1px solid #E70000;
    border-right: 1px solid #2E0FED;
    border-bottom: 1px solid #2E0FED;
}

#REGISTER #redeSocial #twiterButton {
    color: #00A2F5;
    border: 1px solid #00A2F5;
}

/* 
Campo inserir e-mail
*/

#REGISTER #cadastro .inputEmail {
    width: 334px;
    margin: 10px auto 40px;
}

#REGISTER #cadastro #email {
    width: 310px;
    height: 30px;
    border: 1px solid #909090;
    padding: 17px 15px;
    font-variant: bold;
    border-radius: 10px;
}

/* ---------------------------------------------------
Register Sep2
*/

#REGISTER .registerStep2 .nextstep {
    margin: auto 10px 0px 0px;
    padding: 1px;
    width: 120px;
}

#REGISTER .registerStep2 .nextstep p{
    width: 117px;
}

#REGISTER .centerContent {
    width: fit-content;
    margin: 0px auto 20px;
}

/*
Type Form Balls Progress
*/

#REGISTER .typeForm {
    width: fit-content;
    margin: 20px auto 0px;
}

#REGISTER .typeForm div:first-child,
#REGISTER .typeForm .centerContent{
    margin: 10px auto 0px;
}

#REGISTER .typeForm .centerContent h2{
    color: var(--Laranja)
}

#REGISTER .typeForm .flex > * {
    margin: 0px 5px;
}

#REGISTER .circleWhite {
    color: white;
    z-index: 2;
}

#REGISTER .circleOverlay {
    z-index: 2;
    position: absolute;
    padding-left: 50px;
}

#REGISTER .typeFormLine {
    position: absolute;
    padding-top: 7px;
    border-bottom: 2px solid black;
    width: 76px;
}
#REGISTER .typeStep3 .typeFormLine {
    width: 78px;
}

#REGISTER .typeStep3{
    padding-top: 20px;
}

#REGISTER .registerStep3  .centerContent h2{
    margin-top: 25px;
}

/*
------------------------------------------
REGISTER GENERAL CLASSES
------------------------------------------
*/
#REGISTER .containerMedium { 
    margin: 10px; 
    width: 210px;
}
#REGISTER .containerMedium label{ 
    white-space: nowrap;
}

#REGISTER .inputLarger,
#REGISTER .inputBorder,
#REGISTER .inputMedium,
#REGISTER .inputYoung,
#REGISTER .inputSmall {
    height: 30px;
    border: 1px solid #909090;
    padding: 17px 15px;
    font-variant: bold;
    border-radius: 10px;

}

#REGISTER .cadastroSucess a,
#REGISTER #redeSocial a{
    text-decoration: none;
}

#REGISTER .sucessNext {
justify-content: space-between;
}
#REGISTER .inputLarger{ 
    width: 430px; 
}
#REGISTER .inputMedium { 
    width: 200px; 
    margin-right: 10px;
    margin-left: 0px;
}
#REGISTER .inputYoung { 
    max-width: 180px; 
}
#REGISTER .inputSmall { 
    max-width: 120px; 
    margin-bottom: 20px;

}

#REGISTER section {
    margin: 10px 0px;
}

#REGISTER .containterBottom{
    margin-left: 10px;
}



/*
Form step 2
*/

#REGISTER .formStep2 {
    margin: 0px 50px 30px;
}
#REGISTER .inputGenre{
    margin: 10px;
}

#REGISTER .inputGenre div label{
    margin: 0px 10px;
    font-weight: normal;
    cursor: pointer;
}

#REGISTER #genreNull { 
    margin-left: 30px;
}

#REGISTER .inputLocation {
    margin: auto 0px 20px 10px;
    color: purple;
}
#REGISTER .inputLocation label {
    margin: auto 10px;
    cursor: pointer;
}

#REGISTER .inputNEndress {
    margin-right: 37px;
}

#REGISTER .inputNEndress input {
    text-align: center;
    width: 60px;
    height: 30px;
    border: 1px solid #909090;
    padding: 17px 15px;
    font-variant: bold;
    border-radius: 10px;
}

/*
-----------------------------------------
Form step 2
*/


#REGISTER .registerStep3 input {
    margin-bottom: 10px;
}

#REGISTER .formStep3 .inputPassword {
    margin: 20px 10px;
}

#REGISTER .formStep3 .inputPassword input {
    display: block;
    width: 290px;
    margin-bottom: 0px;
}

#REGISTER .formStep3 section:first-of-type input {
    width: 170px;
}

#REGISTER .formStep3,
#REGISTER .sucess_margin {
    margin: 20px 50px 40px 50px
}
#REGISTER .formStep3 .terms strong{
    cursor: pointer;
}
#REGISTER #cadastro .formStep3 .terms strong:hover{
    color: gray;
}
#REGISTER .formStep3 .terms label{
   font-weight: normal;
}
#REGISTER .small {
    width: 53px;
}


#REGISTER .form_space {
    margin: 0px 0px 0px 30px;

}

#REGISTER .inputCapcha {
    width: 235px;
    margin: 0px auto;
    height: fit-content;
    border-radius: 5px;
    border-color:rgba(213, 212, 215, 1);
    background-color: rgba(249, 249, 249, 1);
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

#REGISTER .inputCapcha img{
    width: 35px;
    height: 35px;
}
#REGISTER .inputCapcha div{
    margin: auto 0px
}
#REGISTER .inputCapcha div:hover{
    color: gray;
}

#REGISTER .inputCapcha label{
    font-weight: normal;
    cursor: pointer;
}

#REGISTER .inputCapcha section{
    position:absolute;
}
#REGISTER .inputCapcha section.unliked{
    margin: 0px 5px 
}
#REGISTER .inputCapcha section.liked{
    margin: -5px 0px;
    color:green;
}

#REGISTER .inputCapcha div div{
    margin: auto 10px auto 32px;
    white-space: nowrap;
}

#REGISTER .inputCapcha .inputCapcha span{
    padding: 2px 10px ;
    border: 1px solid black;
}


#REGISTER input#robot {
display: none;

}















#REGISTER .registerStep3 #robot,
.terms input {
    width: auto;
    margin: auto 10px;
}

#REGISTER .robot div {
    margin: auto 0px;
}

#REGISTER .terms input {
    margin-bottom: 10px;
}

#REGISTER .registerStep3 .nextstep {
    margin-top: 25px;
}

#REGISTER .cadastroSucess {
    text-align: center;
}
#REGISTER #Cadastrar #cadastro .sucess_margin {
    margin: 70px;
}
#REGISTER #Cadastrar #cadastro .sucess_margin h2 {
    margin-bottom: 10px;
    color: var(--Laranja)
}
#REGISTER #Cadastrar #cadastro .sucess_margin span {
font-weight: bold;
}
#REGISTER #Cadastrar #cadastro .sucess_margin p {
    margin-bottom: 30px;
}

#REGISTER .cadastroSucess span {
    margin-bottom: 20px;
}
#REGISTER  .cadastroSucess .nextstep{
    padding: 1px;
}
