/* ID Cadastrar criado para não da conflito com outras abas */

/* div pai responsavel pelo comportamento das outras div */
#Cadastrar #main {
    margin: 22px 0px 22px 0px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

/* Div cadastro ira ficar todo o conteudo do cadastro */
#Cadastrar #cadastro {
    width: 500px;
    height: 545px;
    border: 1px solid blue;
}

/* Formatação do h1 do cadastro*/
#Cadastrar #cadastro h1 {
    color: var(--Laranja);
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    margin-top: 9px; 
    margin-bottom: 3px;
}

/* Cor secundaria */
.scd {
   color: var(--turquesa);
}

/* Formatação do mini titulo */
#Cadastrar #cadastro span {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--turquesa);
}

/* Formatação do mini titulo */
#Cadastrar #cadastro h4 {
    margin-top: 36px;
    text-align: center;
    font-size: 16px;
}

/* Estilização dos selects do cadastro */
#Cadastrar #selectS select {
    display: block;
    margin: 12px auto;
    border: 1.3px solid #9b9b9b; 
    border-radius: 6px;
    font-size: 15px;
    width: 173px;
    padding: 7.8px;   
}

#Cadastrar h5 {
    margin-top: 32px;
    text-align: center;
    font-size: 14px;
}

/* Formatação da div pai dos botões dad rede sociais */
#Cadastrar #redeSocial {
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Estilização dos botões da rede social */
#Cadastrar #redeSocial button {
    width: 98.2px;
    height: 40px;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: var(--backgoundMain);
    }

/* Estilização dos icons do botão */
#Cadastrar #redeSocial button img {
    width: 23px;
    padding-right: 4px;
    margin-left: 2px;
    transition: all 0.5ms
}

/* colors do google */
#Cadastrar #redeSocial button #scd1 {
 color: #FBBC05;
}

#Cadastrar #redeSocial button #scd2 {
    color: #34A853;
   }

#Cadastrar #redeSocial #google {
    color: #E70000;
    border-left: 1px solid #E70000;
    border-top: 1px solid #E70000;
    border-right: 1px solid #2E0FED ;
    border-bottom: 1px solid #2E0FED ;
}

/* Fim dos colors do google */
#Cadastrar #redeSocial #face {
    color: #0033E7;
    border: 1px solid #0033E7;;
}

#Cadastrar #redeSocial #twiter {
    color: #00A2F5;
    border: 1px solid #00A2F5;
}

#Cadastrar form label {
    margin-left: 8.3em;
    font-weight: 700;
}
#Cadastrar form #email {
 margin-top: 4px;
 border: 1px solid #333;
 width: 240px;
 height: 30px;
 margin-left: 9.4em;
 padding: 6px;
 border-radius: 6px;
 font-size: 14px;
 margin-bottom: 45px;
}

#Cadastrar form #next {
    width: 140px;
    height: 46px;
    cursor: pointer;
    border-radius: 9px;  
    font-size: 17px;
    font-weight: 700;
    background: var(--backgoundMain);
    display: block;
    margin: auto;
    border-left: 2.3px solid var(--turquesa);
    border-top: 2.3px solid var(--turquesa);
    border-right: 2.3px solid var(--Laranja);
    border-bottom: 2.3px solid var(--Laranja);
}

/* Formatação da imagem do lado */
#Cadastrar #cadastrarimg img {
    margin-top: 96px;
}
