

.flex{ display: flex;}
.justify{ justify-content: space-between;}
.right{ float: right;}



.CHAT span{
    color: black;
}
/* Root Component Sytle*/
.CHAT {
    margin: 30px;
    border: 1px solid #33B6FF;
    border-radius: 10px;
}
.CHAT span{ font-weight: 600; }

/* Chat list syyle*/
.CHAT .list {
    width: 450px;
    background: #E9E9E9;
    border-right: 1px solid var(--turquoiseMain);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.CHAT .list section{ margin: 10px 10px; }
.CHAT .list .container{  background: white; }
.CHAT .list div:first-child .container{ border-top-left-radius: 10px; }

.CHAT .list div:last-child .container{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 10px -10px rgb(124, 124, 124);
}


/*
-------------------------------------------------------------------------------
Const ChatContacts Syle
*/
.CHAT .container{ 
    padding: 10px;
    border-bottom: 1px solid var(--turquoiseMain);
}

.CHAT .container img{
    width: 80px;
    border-radius: 100%;
    border: 3px solid white;
    outline: 2px solid var(--orangeMain);
}

.CHAT .container .contact div{ width: 150px; }
.CHAT .container .lastViewed{ padding: 10px 0px; }

/*
-------------------------------------------------------------------------------
*/

.CHAT .conversation{
    width: 100%;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    height: 709px;
}

.CHAT .perfilheader{
    padding:10px;
    border-bottom: 1px solid rgb(104, 104, 104);
    background:var(--backgroundMain);
    box-shadow: 0px 10px 10px -10px rgb(104, 104, 104);
    border-top-right-radius: 10px;
}
.CHAT .perfilheader section{
    width: 100%;
    margin: auto 50px auto 10px ;
}

.CHAT .perfilheader img{
    border-radius: 100%;
    height: 60px;
    border: 2px solid white;
    outline: 2px solid var(--orangeMain);
}

.CHAT .status span{
    margin-right: 5px;
}
.CHAT .contactChat div{
    padding: 10px;
    border: 1px solid black;
    width: 285px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.CHAT .contactChat .left{
    margin-left: 10px;
    margin-right: 50%;
    float: left;

}
.CHAT .contactChat .right{
    margin-right: 10px;

    margin-left: 65%;
    float: right;
}
.CHAT .contactChat .center{
    margin: 10px 0px;
    text-align: center;
}
.CHAT .contact .right{
    padding-left: 80px;
    float: right;

}




.CHAT .contactChat .bollon{
    width: 300px;
    padding: 20px;
    background: url("./imagens/bollon.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 36px;

}

.CHAT .contactChat .bfirst.right{
    width: 333px;
    padding: 20px;
    background: url("./imagens/bollonFirst.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 5px;

}
.CHAT .contactChat .bfirstLeft{
    width: 333px;
    padding: 20px;
    background: url("./imagens/bollonFirstLeft.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 5px;
    float: left;
}
.CHAT .contactChat .bfirstLeft p{
    margin:0px 40px;
}
.CHAT .contactChat .bfirstLeft span{
    margin:0px;
}

.CHAT .contactChat section span{
    float: right;
    margin: 0px 40px
}

.CHAT .contactChat .bollon span{
    margin: 0px 5px;
    color: black;

}
.CHAT .conversation .contactFoot{
    margin-top: 30px;
    float: right;
    margin-right: 20%;
}
.CHAT .conversation .contactFoot .bollon{
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 120px;
}
.CHAT .contactChat .byUser{
    border: 1px solid black;
    background: var(--turquoiseLight);
    border-radius: 10px;

}
.CHAT .conversation .contactFoot section{
    margin: 10px 0px;
}
.CHAT .conversation .contactFoot section p{
    margin: 0px 10px;
}



/* When Contact is Selected*/
.CHAT .select .container { 
    background: var(--turquoiseLight); 

}
.list{
    height: 709px;

}
.CHAT .list div{
    cursor: pointer;
    transition: 0.3s;

}

.CHAT .container:hover{
    background: var(--turquoiseLight);
    transition: all 0.2s;

}

.CHAT .last_div div{ 
    padding-bottom: 24px; 
    margin-bottom: -26px;

}
.CHAT .IiconChat{
padding:5px;
cursor: pointer;
margin: 5px;
margin: auto 5px;
}

.CHAT .IiconChat:hover{
    background: var(--orangeMain);
    color:white;
    border-radius: 100%;
    height: 35px;
    transition: all 0.1s;

}

.CHAT .conversation .contactFoot .bottom{
    border-radius: 5px;
    height: 39px;
    width: 83px;
}

.bottom{
    background: linear-gradient(to right, var(--turquoiseLight), var(--orangeMain));
    padding:1px;
    border-radius: 5px;
}

.bottom div{
    background: rgb(255, 255, 255);
    padding:9px;
    border-radius: 5px;
}

.bottom:hover{
    background: var(--turquoiseMain);
}
.bottom div:hover{
    color:white;
    cursor: pointer;
    background:  var(--orangeMain);;
    transition: all 0.2s;
}



.CHAT #searchButton a{
    color: var(--orangeMain)
}

.CHAT  .contactChat{
    height: 409px;
}

.CHAT textarea{
    font-size: 16px;
    background: rgb(248, 248, 248);
    max-width: 398px;
}


.CHATT  #searchButton a{
    color: var(--orangeMain)
}


.CHAT .status > *:not(p){
    margin-right: 5px;
    color:rgb(0, 189, 0);
}