
/*
 ID Doacao foi criado para não da conflito nas outras páginas
 o id Doacao ira ter variações devido os outros componentes 
 */

 /* Id para passar os parametros pai do elemento  */
 #Doacao #DoacaoOverlay {
    border: 1px solid var(--preto);
    width: 520px;
    height: 400px;
    margin: 20px auto;
}

#Doacao #DoacaoOverlay #headerD {
    display: flex;
    align-items: center;
}

#Doacao #DoacaoOverlay #headerD h3 {
    color: var(--Laranja);
}

/* Formatação da logo da aba donate  */
#Doacao #DoacaoOverlay #headerD img {
    margin-top: 9px;
    margin-left: 4px;
    width: 100px;
    height: 80px;
}

/* Foramtação da label do header  */
#Doacao #DonateHeader label {
 font-size: 21px;
 color: var(--Laranja);
 font-weight: 700;
}

/* Cor da página  */
#Doacao,#Doacao2 .scd {
    color: var(--turquesa);
}

/* Div pai do comportamento do header */
#Doacao #DonateHeader {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 height: 100px;
}

/* Foramatação do input do header */
#Doacao #DonateHeader input {
    border: 1px solid var(--preto);
    width: 215px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 6px;
    font-size: 19px;
    color: #2c2c2c;
}

/* Formatação da imagem do header */
#Doacao #DonateHeader img {
    margin-bottom: 8px;
    width: 170px;
    height: 130px;
}

/* Formatação do titulo do body */
#Doacao #areaDePagemnto label {
    margin-top: 8px;
    color: var(--Laranja);
    font-size: 21px;
    margin-left: 42px;
    font-weight: 700;
    padding-bottom: 8px;
}

/* Formatação do mini titulo do body */
#Doacao #areaDePagemnto span {
 margin-left: 42px;
 margin-top: 4px;
 font-family: 700;
 color: var(--preto);
}

/* Div pai da area de pagamento */
#Doacao #areaDePagemnto #pagamentoMain {
    display: flex;
    flex-direction: column;   
}

/* Posicionamento dos elementos */
#Doacao #areaDePagemnto #pagamentoMain #OpcoesDePagamento, #OpcoesDePagamento2 {
    margin-left: 39px;
    margin-top: 5px;
}


#Doacao #areaDePagemnto #pagamentoMain #OpcoesDePagamento {
    display: flex;
    align-items: center;
}

/* Mini titulo da area de pagamento */
#Doacao #areaDePagemnto #pagamentoMain #OpcoesDePagamento span {
    font-weight: 700;
    font-size: 16px; 
}

/* Formatação das imagens da area pagamento */
#Doacao #areaDePagemnto #pagamentoMain img {
 width: 75px;
 height: 40px;
 cursor: pointer;
}

/* Estilização da imagem boleto */
#Doacao #areaDePagemnto #pagamentoMain #boletoM  {
    border: 1px solid #000;
}

/* Botão da aba doacao submit */
#Doacao #DoacaoOverlay .buttonDoar {
    background: var(--Laranja);
    color: var(--branco);
    border-radius: 10px;
    width: 86px;
    height: 46px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 400px;
    margin-bottom: 6px;
    cursor: pointer;
}   

/* *********  Donate parte 2 */

#Doacao2 #DoacaoOverlay {
    border: 1px solid #000;
    width: 520px;
    height: 400px;
    margin: 20px auto;
}

#Doacao2 #DoacaoOverlay #headerD {
    display: flex;
    align-items: center;
}

#Doacao2 #DoacaoOverlay #headerD h3 {
    color: var(--Laranja);
}

#Doacao2 #DoacaoOverlay #headerD img {
    margin-top: 9px;
    margin-left: 4px;
    width: 100px;
    height: 80px;
    display: flex;
}

#Doacao2 #forms1 {
    margin: auto;
    width: 87%;
    margin-top: 14px;
    display: flex;
    justify-content: space-evenly;
}

#Doacao2 #forms1 img {
    width: 180px;
    height: 140px;
}

#Doacao2 #forms1 label {
   color: var(--Laranja); 
   font-weight: 700;
   font-size: 18px;
}

#Doacao2 #forms1 input {
    width: 215px;
    height: 32px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #000;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 22px;
}

/* elemento pai */

#Doacao2 #forms2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Doacao2 #forms2 #formsFilho2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#Doacao2 #forms2 #formsFilho2 label {
    color: var(--Laranja);
    font-weight: 700;
    font-size: 18px;
}

#Doacao2 #forms2 #formsFilho2 input {
    border: 1px solid var(--preto);
    font-size: 17px;
    width: 145.5px;
    height: 32px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 3px;
}

#Doacao2 #tpcartao label { 
    color: var(--Laranja);
    font-weight: 700;
    font-size: 18px;
    margin-left: 32px;
}

#Doacao2 #tpcartao select {
    margin-top: 6px;
    width: 107px;
    color: #212121;
}

#Doacao2 button {
    background: var(--Laranja);
    color: var(--branco);
    border-radius: 10px;
    width: 86px;
    height: 46px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 404px;
    margin-top: 22px;
    cursor: pointer;
}

/************** doacao3 *************/

#Doacao3 #DoacaoOverlay {
    border: 1px solid #000;
    width: 520px;
    height: 400px;
    margin: 20px auto;
}

#Doacao3 #DoacaoOverlay #headerDonate {
    display: flex;
    align-items: center;
}

#Doacao3 #DoacaoOverlay #headerDonate img {
    margin-top: 9px;
    margin-left: 4px;
    width: 100px;
    height: 80px;
}

#Doacao3 #DoacaoOverlay #headerDonate h3 {
    color: var(--Laranja);
}

/***** body option  Pix *****/

#Doacao3 #DoacaoOverlay #pixPai {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    width: 95%;
    margin-left: 25px;
}

#Doacao3 #DoacaoOverlay #pixPai #compartilhar {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#Doacao3 #DoacaoOverlay #pixPai .areaPix {
    display: flex;
    flex-direction: column;
}

#Doacao3 #DoacaoOverlay #pixPai .areaPix img {
    width: 155px;
    height: 152px;  
}

#Doacao3 #DoacaoOverlay #pixPai .areaPix #LogoPix  {
    width: 140px;
    height: 52px; 
}

#Doacao3 #DoacaoOverlay #pixPai #donateDraw {
    width: 135px;
    height: 120px;
}

#Doacao3 #DoacaoOverlay #pixPai .chavePix {
    margin-top: 4px;
    background: #00BDAE;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 13px;
}

#Doacao3 #DoacaoOverlay #pixPai .chavePix img {
    margin-top: 4px;
    width: 25px;
    height: 30px;
    margin-left: 23px;
}

#Doacao3 #DoacaoOverlay #pixPai .chavePix h4,span {
    color: var(--branco);
    padding-top: 2px;
}

#Doacao3 #DoacaoOverlay button {
    background: var(--Laranja);
    color: var(--branco);
    border-radius: 10px;
    width: 86px;
    height: 46px;
    font-size: 17px;
    font-weight: 700;
    margin-left: 404px;
    cursor: pointer;
}


/****** Doacao4 ***********************/

#Doacao4 #DoacaoOverlay {
    border: 1px solid #000;
    width: 520px;
    height: 400px;
    margin: 20px auto;  
}

#Doacao4 .scd {
    color: var(--turquesa);
}

#Doacao4 #DoacaoOverlay #headerDonate {
  display: flex;
  align-items: center;

}

#Doacao4 #DoacaoOverlay #headerDonate img {
    margin-top: 9px;
    margin-left: 4px;
    width: 100px;
    height: 80px;
}

#Doacao4 #DoacaoOverlay #headerDonate h3 {
    color: var(--Laranja);
}

#Doacao4 #DoacaoOverlay #LogoBoleto {
 display: flex;
 margin-left: 31px;
}

#Doacao4 #DoacaoOverlay #LogoBoleto img {
    width: 140px;
    height: 60px;
}

#Doacao4 #DoacaoOverlay #boletoPai {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#Doacao4 #DoacaoOverlay #boletoPai img{
    width: 175px;
    height: 140px;
}

#Doacao4 #DoacaoOverlay #boletoPai label {
    color: var(--Laranja);
    font-weight: 700;
    font-size: 18px;
}

#Doacao4 #DoacaoOverlay #boletoPai input {
    margin-bottom: 25px;
    width: 220px;
    height: 30px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--preto);
    font-size: 16px;
}

#Doacao4 #DoacaoOverlay .submit {
    display: flex;
    justify-content: end;
    margin-right: 16px;
}

#Doacao4 #DoacaoOverlay .submit button {
background: var(--Laranja);
color: var(--branco);
border-radius: 10px;
width: 86px;
height: 46px;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

/********** Doacao5 **********/

#Doacao5 #DoacaoOverlay {
    border: 1px solid var(--preto);
    width: 520px;
    height: 400px;
    margin: 20px auto;  
}

#Doacao5 #DoacaoOverlay #headerDonate {
    display: flex;
    align-items: center;
  
  }
  
  #Doacao5 #DoacaoOverlay #headerDonate img {
      margin-top: 9px;
      margin-left: 4px;
      width: 100px;
      height: 80px;
  }
  
  #Doacao5 #DoacaoOverlay #headerDonate h3 {
      color: var(--Laranja);
  }

  #Doacao5 #DoacaoOverlay .titleBoleto {
    margin-left: 129px;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
  }

#Doacao5 #DoacaoOverlay .titleBoleto #logoBoleto {
    width: 120px;
    height: 55px;
    margin-left: 27px;
}

#Doacao5 #DoacaoOverlay .titleBoleto #ilustration {
    width: 116px;
    height: 84px;
}

#Doacao5 #DoacaoOverlay .bodyBoleto img {
    display: flex;
    margin: auto;
    width: 215px;
    height: 165px;
}

#Doacao5 #DoacaoOverlay .submit {
    display: flex;
    justify-content: end;
    margin-right: 16px;
}

#Doacao5 #DoacaoOverlay .submit button {
background: var(--Laranja);
color: var(--branco);
border-radius: 10px;
width: 86px;
height: 46px;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

/*********** Doação6 ******************/

#Doacao6 #DoacaoOverlay {
    border: 1px solid var(--preto);
    width: 520px;
    height: 400px;
    margin: 20px auto;  
}

#Doacao6 #DoacaoOverlay #headerDonate  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Doacao6 #DoacaoOverlay #headerDonate #logoDonate {
    margin-top: 9px;
    margin-left: 4px;
    width: 100px;
    height: 80px;
}

#Doacao6 #DoacaoOverlay #headerDonate #ilustrationdraw {
  width: 100px;
  height: 75px;
  margin-top: 9px;
  margin-right: 8px;
}

#Doacao6 #DoacaoOverlay .protocoloPai {
    display: flex;
    justify-content: center;
    gap: 11px;
    width: 75%;
    margin-left: 44px;
    margin-top: 44px;
}

#Doacao6 #DoacaoOverlay .protocoloPai img {
    width: 41px;
    height: 46px;
}

#Doacao6 #DoacaoOverlay .protocoloPai #confirmtitle {
     display: flex;
     align-items: center;
     flex-direction: column;
}

#Doacao6 #DoacaoOverlay .protocoloPai #confirmtitle h2 {
    color: var(--Laranja);
}

#Doacao6 #DoacaoOverlay .protocoloPai #confirmtitle p {
    color: var(--Laranja);
    font-weight: 700;
    margin-left: 4.4em;
    margin-top: 5px;
    font-size: 18px;
}

#Doacao6 #DoacaoOverlay .protocoloPai #confirmtitle #CasualMan {
    width: 170px;
    height: 160px;
    margin-left: 6.2em;
}

#Doacao6 #DoacaoOverlay .submit {
    display: flex;
    justify-content: end;
    margin-right: 16px;
}

#Doacao6 #DoacaoOverlay .submit button {
    background: var(--Laranja);
    color: var(--branco);
    border-radius: 10px;
    width: 86px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    }

/********************** Doacao7 ****************/


#Doacao7 #DoacaoOverlay {
    border: 1px solid var(--preto);
    width: 520px;
    height: 400px;
    margin: 20px auto;  
}

#Doacao7 #DoacaoOverlay #headerDonate {
    margin-top: 22px;   
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#Doacao7 #DoacaoOverlay #headerDonate #iconDonate { 
    width: 80px;
    height: 80px;
}

#Doacao7 #DoacaoOverlay #headerDonate #ilustrtionDonate {
  width: 240px;
  height: 140px;
}

#Doacao7 #DoacaoOverlay #headerDonate #Fechar {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#Doacao7 #DoacaoOverlay #compartilahemnto {
    border: 1px solid rgb(153, 153, 153);
    width: 94%;
    height: 200px;
    margin: 20px auto;
}

#Doacao7 .scd {
    color: var(--turquesa);
}

#Doacao7 #DoacaoOverlay #compartilahemnto h3 {
    color: var(--Laranja);
    margin: 10px 0px 0px 10px;
    font-size: 19px;
}

#Doacao7 #DoacaoOverlay #compartilahemnto #redes-sociais {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 44px;
}

#Doacao7 #DoacaoOverlay #compartilahemnto #redes-sociais img {
    width: 80px;
    height: 70px;
    cursor: pointer;
}


#Doacao7 #DoacaoOverlay #compartilahemnto #redes-sociais p {
    text-align: center;
    font-weight: 700;
}


