/* Paleta de cores */
:root {
    --orangeMain: #F9813D;
    --branco: #fff;
    --preto: #090909;
    --turquoiseMain: #09A9A9;
    --turquoiseLight: #83DDDD;
    --backgroundMain: #fcfcfc;
    --backgroundName: #F1F1F1;

}
#Solicite span {
    color:black;
}
#Solicite .favOngcursor:hover span{
    color:var(--orangeMain);
}

/* Solicite CSS -------------------------------------------------------------*/
#Solicite .sideBar { min-height: 722px; }
#Solicite .container { margin: 12px; }
#Solicite .justify { justify-content: space-between; }
#Solicite .flex { display: flex; }
#Solicite .iIcon { margin: 2px 4px 0px 4px }
#Solicite a{ text-decoration: none; }

#Solicite h2{
    left: 335px;
    position: absolute;
    padding-top: 50px;
    color:var(--turquoiseMain)

}
#Solicite strong{
    color:var(--orangeMain)
}
/* 
BarSide Style
*/
#Solicite #searchButton a{
    color: var(--orangeMain)
}

/* 
Carrosel Style
*/
#Solicite .rec.rec-arrow {
    color:orange;
    font-size: 40px;
    box-shadow:none;
    background-color:white;
}

#Solicite .rec.rec-arrow:disabled {
    color:white;
    box-shadow:none;
    transition: 0.5s;
    background-color:white;
}

#Solicite .rec.rec-arrow:hover:enabled, 
#Solicite .rec.rec-arrow:focus:enabled{
    color:black;
    box-shadow:none;
    background-color:white;
}

#Solicite .rec .rec-dot:hover{
    border: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0 0 1px 3px white;
}

#Solicite .rec.rec-dot_active, 
#Solicite .rec.rec-dot_active:focus{
    background: orange;
    box-shadow: 0 0 1px 3px orange;
}

#Solicite .rec.rec-dot_active:hover{
    background: orange;
    box-shadow: 0 0 1px 3px white;
}

#Solicite .rec-pagination{
    color:orange;
    z-index: 1;
    position: absolute;
    padding-top: 29px;
}


/* PerfilContent const --------------------------------------
MainBorder 
*/
#Solicite .PerfilContent {
    width: fit-content;
    height: 600px;
    margin: 40px 10px 80px;
    max-width: 480px;
}

#Solicite .mainBorder {
    margin: 20px 0px 0px 0px;
    max-width: 550px;
    background: var(--backgroundMain);
}

#Solicite .mainBorder, 
#Solicite .perfilHeader {
    border: 1px solid var(--turquoiseLight);
    border-radius: 10px;
}

/*
PerfilTop Style
*/
#Solicite .perfilTop{
    transition: 1s;
    margin-top: 135px;
}

#Solicite .perfilTop.show { 
    margin-top: 50px; 
}

#Solicite .perfilTop .perfilHeader {
    height: 180px;
    z-index: 2;
    position: relative;
    border-color: var(--backgroundMain);
    margin-bottom: 42px;
    background-size: 100%;
    background-position: center;
    border-bottom-left-radius: 35px;
}

/* 
PerfilBottom Style
*/
#Solicite .perfilBottom .buttonMoreOption {
    width: fit-content;
    margin: 0px auto 20px;
}

#Solicite .perfilBottom .buttonMoreOption button {
    border: var(--turquoiseMain) solid 1px;
    padding: 6px 18px 6px 18px;
    background: none;
    border-radius: 13px;
}

#Solicite .perfilBottom .perfilDetails {
    height: 0;
    overflow: hidden;
    transition: 1s;
}
  
#Solicite .perfilBottom .perfilDetails.show {
    height: 175px;
    margin-top: 0px;
}

/* 
Hovers Styles
*/
#Solicite .perfilTop .borderIcon, 
#Solicite .perfilTop .headerDetails button, 
#Solicite .perfilBottom .buttonMoreOption button {
    color:  var(--turquoiseMain) ;
}

#Solicite .perfilTop .borderIcon:hover,
#Solicite .perfilTop .headerDetails button:hover, 
#Solicite .perfilBottom .buttonMoreOption button:hover {
    color: var(--orangeMain);
    cursor: pointer;
    font-style: var(--orangeMain);
    border-color: var(--orangeMain);
}

#Solicite .perfilBottom .favOngcursor:hover{
    color: var(--orangeMain);
    cursor: pointer;
}

/* 
perfilHeader const -------------------------------------------
*/
#Solicite .perfilHeader button, 
#Solicite .perfilHeader img, 
#Solicite .perfilHeader p {
    margin: auto 10px;
    
}

/* 
headerContainer Style
*/
#Solicite .perfilHeader .headerContainer {
    display: grid;
    grid-template-columns: 1fr;
}
  
#Solicite .perfilHeader .headerContainer div {
    grid-row-start: 1;
    grid-column-start: 1;
}

/* 
perfilPhoto Style
*/
#Solicite .perfilHeader .perfilPhoto  {
    margin: 120px 0px 0px 20px;
}

#Solicite .perfilHeader .perfilPhoto img {
    width: 94px;
    position: relative;
    border-radius: 50%;
    border: 3px solid white;
    outline: 2px solid var(--orangeMain);
}

/* 
headerName  + headerTitle Style
*/
#Solicite .perfilHeader .headerName {
    margin: 150px 0px 0px 80px;
    background: var(--backgroundName);
    padding-left: 10px;
}

#Solicite .perfilHeader .headerName p {
    font-size: 20px;
    margin-left: 40px;
    margin-right: -1px;
}

#Solicite .perfilHeader .justify,
#Solicite .perfilHeader .headerTitle {  
    margin-left: 60px; 
}

/* 
headerDetails Style
*/
#Solicite .perfilHeader .headerDetails {
    display: flex;
    background: var(--backgroundMain);
    padding-right: 10px;
    border-bottom-right-radius: 10px;
}

#Solicite .perfilHeader .headerDetails button,
#Solicite .perfilHeader .borderIcon {
    border: 1px solid black;
    padding: 2px 3px 1px 3px;
    background: none;
    margin-top: 8px;
    border-radius: 8px;
}

#Solicite .perfilHeader .headerDetails button {
    padding: 6px 18px 7px 18px;
}

/* 
ButtonStar + ButtonMensage Style
*/
#Solicite .perfilHeader #StarICon { color: orange; }
#Solicite .perfilHeader #StarIConOrange {  color: gray; }

#Solicite .perfilHeader #buttonMensage p{
    color:gray;
}

/*
PerfilReputation const---------------------------------------------------------
*/
#Solicite .PerfilReputation { 
    padding: 0px 20px; 
}
#Solicite .PerfilReputation .bodyComponent { 
    margin: 20px auto; 
}
#Solicite .PerfilReputation .bodyComponent span {
    margin: 0 2px;
    font-size: 24px;
}

#Solicite  .PerfilReputation .favOngcursor, 
#Solicite  .PerfilReputation .reputationCenter{
    width: fit-content;
    margin: 0px auto;
}
/*
PerfilFooter const---------------------------------------------------------
*/
#Solicite .PerfilFooter {
    display: grid;
    grid-template-columns: 60% 40%;
}

#Solicite .PerfilFooter p{
    padding: 10px 10px 0px 0px ;
}

#Solicite .PerfilFooter span {
    margin: 4px 0px;
    font-weight: 550;
    white-space: nowrap;
}

#Solicite .PerfilFooter .footerIcon{
    margin: 10px 5px 0;
}

#Solicite .PerfilFooter .right, 
#Solicite .PerfilFooter .right span{
    float: right;
    white-space: nowrap;
}

#Solicite .PerfilFooter .footerComponent {
    margin: 0px 0px 0px 24px;
    word-wrap: none;
    min-height: 56px;
}

#Solicite .PerfilFooter .footerComponent section p {
    min-height: 82px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#Solicite .PerfilFooter .footerComponent + .right{
     margin: 10px 44px 10px 0px;
}

/*
buttonDonate style
*/
#Solicite .PerfilFooter .buttonDonate, 
#Solicite .PerfilFooter .buttonDonate div {
    border-radius: 10px;
}

#Solicite .PerfilFooter .buttonDonate {
    margin: 15px 20px 0 0 ;
    padding: 1px;
    background: linear-gradient(to right, var(--turquoiseLight), var(--orangeMain));
    white-space: nowrap;
}

#Solicite .PerfilFooter .buttonDonate:hover {
    cursor: pointer;
    padding: 2px;
    color:var(--orangeMain);
    background: var(--orangeMain);
}
#Solicite .PerfilFooter .buttonDonate:hover div p {
    color:var(--orangeMain)
}




#Solicite .PerfilFooter .buttonDonate div {
    padding: 9px;
    background: var(--backgroundMain);
}

#Solicite .PerfilFooter .buttonDonate div p {
    color: var(--turquoiseMain);
    margin: 0 auto;
    padding: 0px;
}
#Solicite .PerfilFooter .buttonDonate div .iIcon {
    color: var(--orangeMain);
    margin: auto;
}

/*
lookMoreButton style 
*/
#Solicite .PerfilFooter .lookMoreButton {
    color:#0c7070;
    border: 1px solid var(--turquoiseLight);
    margin: 15px 40px auto 0px;
    padding: 1px;
    background: var(--turquoiseLight);
    white-space: nowrap;
    border-radius: 9px;

}

#Solicite .PerfilFooter .lookMoreButton:hover {
    border: 1px solid var(--orangeMain);
    background: var(--orangeMain);
    color:white;
}

#Solicite .PerfilFooter .lookMoreButton div p{
    margin: 0 auto;
    padding: 2px;
    font-weight: 600;
}

/*DATABASE CSS---------------------------------------------------------*/
#Solicite .id1_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1039361184907939850/Rectangle_188_1.png");
} #Solicite .id2_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261103594639420/b1.png");
} #Solicite .id3_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261103909216337/b2.jpg");
} #Solicite .id4_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261122687111238/b7.jpg");
} #Solicite .id5_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104412528650/b4.jpg");
} #Solicite .id6_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104618053662/b5.jpg");
} #Solicite .id7_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104790011974/b6.jpg");
} #Solicite .id8_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261123295289344/b9.png");
} #Solicite .id9_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261123752476733/b11.jpg");
} #Solicite .id10_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261104156672010/b3.jpg");
} #Solicite .id11_banner {
    background-image: url("https://cdn.discordapp.com/attachments/1026668645033709692/1044261122896838666/b8.png");
}
