
 /* Fonte importada para nosso projeto */
@font-face {
   font-family: Asap;
   src: url(Asap-Regular.otf);
}

 
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: Asap , sans-serif;;
  border: none;
 }

 /* Fundo padrão da plataforma mais propiedade para evitar rolagem lateral. */
 body {
   background-color: var(--backgroundMain);
   overflow-x: hidden;
 }

 ::-webkit-scrollbar {
   width: 10px;
   background: var(--branco);
   border: 1px solid var(--backgroundMain);
 }

 ::-webkit-scrollbar-thumb {
    background-color: var(--azulClaro);
    border-radius: 50px;
    border: 2px solid var(--branco);
 }

 


 /* Paleta de cores */
 :root {
    --Laranja: #F9813D;
    --branco: #fff;
    --backgroundMain: #fcfcfc;
    --preto: #090909;
    --turquesa: #09A9A9;
    --azulClaro: #17D4D4;
 }

 